@model IEnumerable<ASPNETWebAppMVCStudentApp.Student>

@{
    ViewBag.Title = "Student Management";
}

<h2>Student Management</h2>

<p class="bg-warning">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="bg-gradient">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="bg-info">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="bg-success">
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
